<!DOCTYPE html>
<html  lang="ro">
<head>
    <meta name="description" content="AuctionRider - Politica de confidentialitate.">
    <meta name="keywords" content="masini, AuctionRider, politica, confidentialitate">
    <title>AuctionRider - Politica de confidentialitate</title>
    <%- include("../fragmente/head") %>
</head>
<body>
<%- include("../fragmente/header") %>

<main>
    <div>
        <h2>Politica de confidentialitate</h2>
    </div>
    <div>
        <h3>Informațiile colectate</h3>
        <p>a. Informații personale: Pentru a utiliza serviciile noastre, este posibil să cerem anumite informații personale, cum ar fi numele, adresa de e-mail și numărul de telefon. Aceste informații sunt colectate doar cu acordul tău și sunt necesare pentru a-ți oferi serviciile noastre.</p>
        <p>b. Informații de plată: În cazul în care efectuezi plăți prin intermediul site-ului nostru, colectăm informații de plată, cum ar fi numele deținător al cardului, numărul cardului și data de expirare. Aceste informații sunt colectate și procesate de către parteneri de plată securizați și nu sunt stocate de AuctionRider.</p>
        <p>c. Informații de utilizare: Colectăm automat informații despre modul în care utilizezi site-ul nostru, cum ar fi adresa IP, tipul de browser, paginile vizitate și orele de acces. Aceste informații sunt utilizate în scopuri statistice și pentru a îmbunătăți experiența utilizatorului.</p>

        <h3>Utilizarea informațiilor tale</h3>
        <p>a. Furnizarea și gestionarea serviciilor: Utilizăm informațiile tale personale pentru a-ți furniza serviciile solicitate, cum ar fi licitațiile și achiziționarea vehiculelor.</p>
        <p>b. Comunicare și asistență: Utilizăm informațiile tale pentru a-ți trimite actualizări, notificări și comunicări legate de serviciile noastre. De asemenea, putem utiliza informațiile tale pentru a răspunde la întrebările și solicitările tale.</p>
        <p>c. Îmbunătățirea serviciilor: Analizăm informațiile colectate pentru a înțelege și a îmbunătăți serviciile noastre, inclusiv funcționalitatea site-ului și experiența utilizatorului.</p>

        <h3>Protecția informațiilor tale</h3>
        <p>a. Securitatea datelor: Luăm măsuri adecvate pentru a proteja informațiile tale personale împotriva accesului neautorizat, utilizării sau divulgării lor. Utilizăm protocoale și tehnologii de securitate pentru a proteja datele tale.</p>
        <p>b. Păstrarea datelor: Păstrăm informațiile tale personale doar pe perioada necesară pentru a-ți furniza serviciile sau conform cerințelor legale aplicabile.</p>

        <h3>Divulgarea informațiilor tale</h3>
        <p>Nu vindem, închiriem sau transferăm informațiile tale personale către terți în scopuri de marketing. Însă, putem dezvălui informațiile tale în următoarele situații:</p>
        <ul>
            <li>Când este necesar pentru a ne conforma legilor și reglementărilor aplicabile.</li>
            <li>Pentru a proteja drepturile, proprietatea și siguranța noastră sau a altor utilizatori.</li>
            <li>Cu acordul tău explicit.</li>
        </ul>

        <h3>Cookie-uri și tehnologii similare</h3>
        <p>Utilizăm cookie-uri și tehnologii similare pentru a personaliza și îmbunătăți experiența ta pe site-ul nostru. Puteți ajusta setările browserului pentru a refuza cookie-urile sau pentru a fi notificat când acestea sunt trimise.</p>

        <h3>Drepturile tale</h3>
        <p>Ai dreptul de a accesa, corecta sau șterge informațiile tale personale. Dacă dorești să exerciți aceste drepturi sau ai întrebări suplimentare despre prelucrarea datelor tale, te rugăm să ne contactezi utilizând informațiile de contact de mai jos.</p>

        <h3>Modificări ale politicii de confidențialitate</h3>
        <p>Ne rezervăm dreptul de a actualiza sau modifica această politică de confidențialitate. Orice modificări vor fi publicate pe site-ul nostru și vor intra în vigoare imediat ce sunt publicate. Te încurajăm să revii periodic pentru a verifica eventuale modificări.</p>

        <p>Pentru orice întrebări sau nelămuriri referitoare la această politică de confidențialitate, te rugăm să ne contactezi la adresa de e-mail [inserați adresa de e-mail] sau prin intermediul paginii noastre de contact.</p>
    </div>
</main>


<%- include("../fragmente/footer") %>

</body>
</html>