<!DOCTYPE html>
<html  lang="ro">
<head>
    <meta name="description" content="AuctionRider - Termenii si conditiile.">
    <meta name="keywords" content="masini, AuctionRider, termeni, conditii">
    <title>AuctionRider - Termenii si conditiile</title>
    <%- include("../fragmente/head") %>
</head>
<body>
<%- include("../fragmente/header") %>

<main>
    <div>
        <h2>Termenii si conditiile</h2>
    </div>
    <div>
        <h3>1. Utilizarea site-ului</h3>
        <p>a. Site-ul AuctionRider îți oferă o platformă pentru a licita și a achiziționa vehicule.</p>
        <p>b. Trebuie să ai cel puțin 18 ani sau să utilizezi site-ul sub supravegherea unui părinte sau tutore legal.</p>
        <p>c. Ești responsabil de asigurarea confidențialității informațiilor tale de autentificare și a altor detalii de cont.</p>
        <p>d. Nu ai voie să utilizezi site-ul într-un mod care să încalce legile sau drepturile altor persoane.</p>

        <h3>2. Licitații</h3>
        <p>a. AuctionRider facilitează licitațiile pentru vehicule, care pot fi utilizate de utilizatorii înregistrați pe site.</p>
        <p>b. Licitațiile sunt supuse unor reguli și proceduri stabilite de AuctionRider.</p>
        <p>c. AuctionRider nu își asumă responsabilitatea pentru prețurile sau calitatea vehiculelor licitate. Utilizatorii licitează pe propriul risc.</p>

        <h3>3. Proprietatea intelectuală</h3>
        <p>a. Nu ai voie să copiezi, distribui sau utilizezi în alt mod conținutul site-ului fără permisiunea scrisă a AuctionRider.</p>

        <h3>4. Limitarea responsabilității</h3>
        <p>a. AuctionRider depune toate eforturile rezonabile pentru a furniza informații precise și actualizate pe site-ul său, dar nu își asumă nicio responsabilitate pentru orice eroare sau omisiune.</p>
        <p>b. AuctionRider nu își asumă nicio responsabilitate pentru orice pierdere, daune sau răspundere rezultată din utilizarea site-ului sau a conținutului său.</p>

        <h3>5. Modificări ale termenilor și condițiilor</h3>
        <p>AuctionRider își rezervă dreptul de a modifica în orice moment acești termeni și condiții. Orice modificări vor fi publicate pe site și vor fi efective imediat ce sunt publicate. Continuarea utilizării site-ului după publicarea modificărilor reprezintă acceptarea ta a acestor modificări.</p>

        <h3>6. Acordul integral</h3>
        <p>Acești termeni și condiții constituie întregul acord între tine și AuctionRider în ceea ce privește utilizarea site-ului nostru și înlocuiesc toate acordurile anterioare sau concomitente referitoare la acest subiect.</p>

        <p>Pentru întrebări sau informații suplimentare, te rugăm să ne contactezi la adresa de e-mail [inserați adresa de e-mail] sau prin intermediul paginii noastre de contact.</p>

        <p>Ultima actualizare: iunie 2023.</p>
    </div>
</main>


<%- include("../fragmente/footer") %>

</body>
</html>