#galerie-statica{
  padding-left:var(--padding-intern);
  padding-right:var(--padding-intern);
}

#grid-galerie {
 display:grid;
 grid-template-columns: repeat(3,1fr);
 grid-row-gap:0.5em;
 grid-column-gap:0.5em;
 counter-reset: nrimag 0;
}
#grid-galerie img{
    width: 100%;
    scale: 1;
    rotate: 0;
    border-radius: 0;
    transition: all 300ms linear;
}

#grid-galerie img:hover{
    scale: 1.5;
    rotate: 360deg;
    border-radius: 10%;
}

#grid-galerie figcaption{
  text-align:center;
  counter-increment: nrimag 1;
}

#grid-galerie figcaption::before{
  content: counter(nrimag, upper-alpha) ")";
}

