body{
    --spacing: 40px;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.75em;
}
h3{
    font-size: 1.5em;
}
p{
    font-size: 1.6025em;
}

#tabel{
    display:block;
    overflow-x: auto;
    white-space: nowrap;
}

main{
    display: block;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-areas:*/
    /*"z-prezentare z-prezentare z-prezentare z-prezentare"*/
    /*"z-online z-statistici z-statistici z-server"*/
    /*"z-calendar z-calendar z-tabel z-tabel"*/
    /*"z-anunt z-anunt z-tabel z-tabel"*/
    /*"z-diverse z-diverse z-diverse z-diverse"*/
}