html{
    font-size: 16px;
    text-align: justify-all;
    font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5{
    text-align: center;
    margin: 20px;
}

h1{
    font-weight: bold;
}

h3{
    color: var(--red);
}

body{
    --light-gray:rgb(176, 176, 176);
    --dark-gray:rgb(45, 45, 45);
    --white:rgb(255, 255, 255);
    --black:rgb(0, 0, 0);
    --red:rgb(206, 0, 0);

    background-color: var(--white);
    color: var(--black);
}

header{
    background-color: var(--white);
    color: var(--red);
}

footer{
    background-color: var(--black);
    color: var(--light-gray);
    padding: 1%;
}

footer a:link, footer a:visited{
    color: var(--light-gray);
}

footer a:hover, footer a:active{
    color: var(--white);
}

footer iframe{
    padding: 1%;
}

main{
    padding: var(--spacing);
}

main img{
    width: 100%;
    height: auto;
}

main section p{
    margin: 1vw;
    text-justify: auto;
    text-indent: 20px;
}

#responsive-layout > * {
    border: 0.18em solid var(--dark-gray);
}

#diverse > section{
    border: 0.18em solid var(--light-gray);
}


/*---LINK-TOP---*/
#link-top{
    position: fixed;
    bottom: 1%;
    left: 90%;
    font-size: 2.8em;
    border: 5px solid var(--dark-gray);
    background-color: var(--red);
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 300ms;
    box-shadow: 10px 10px 10px var(--dark-gray);
    width: 80px;
    height: 80px;
    line-height: 50px;
}

#link-top:hover, #link-top:active{
    opacity: 1;
}

#link-top a:link, #link-top a:visited{
    color: var(--white);
}

#link-top a:hover, #link-top a:active{
    color: var(--black);
}
/*---LINK-TOP---*/



/*---IFRAME---*/
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container a:link, .flex-container a:visited{
    background-color: var(--red);
    color: var(--white);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 30px 30px;
    margin-left: 10px;
}

.flex-container a:hover, .flex-container a:active{
    background-color: var(--white);
    color: var(--black);
}

.flex-iframe{
    order: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.flex-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 85%;
    padding: 5%;
    background-color: var(--red);
}

.flex-links{
    order: 2;
    display: flex;
    flex-direction: row-reverse;
}
/*---IFRAME---*/



/*---TABEL---*/
#tabel {
    width: 100%;
    height: 70%;
}

#tabel th, #tabel td, #tabel{
    border: 1px solid var(--black);
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
}

#tabel th{
    height: 1vw;
    background-color: var(--dark-gray);
    color: var(--white);
}

#tabel tr:nth-child(even){
    background-color: var(--light-gray);
}

#tabel tr:nth-child(odd){
    background-color: var(--white);
}

#tabel tr{
    transition: background-color 300ms, color 300ms;
}

#tabel tr:hover{
    background-color: var(--dark-gray);
    color: var(--white);
}

#tabel caption{
    padding: 20px;
    font-size: 1.5625em;
    font-weight: bold;
    font-family: 'Montserrat', serif;
}
/*---TABEL---*/



#despre-noi{
    grid-area: z-prezentare;
}

#s-tabel{
    grid-area: z-tabel;
}

#calendar{
    grid-area: z-calendar;
}

#anunt {
    grid-area: z-anunt;
}

#online{
    grid-area: z-online;
}

#statistici{
    grid-area: z-statistici;
}

#server{
    grid-area: z-server;
}

#diverse{
    grid-area:z-diverse;
}



