html{
    font-size: 16px;
    text-align: justify-all;
    font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5{
    text-align: center;
    margin: 20px;
}

h1{
    font-weight: bold;
    margin-top: 0;
}

h3{
    color: var(--primary-color);
}

a:not(.nav-bar-link, #carouselExampleControls){
    color: var(--primary-color);
    background-image: radial-gradient(var(--primary-contrast-color)0%, var(--primary-contrast-color)40%, transparent 80%, transparent 100%);
    background-size: 0;
    background-position: center;
    transition: background-size 200ms linear;
}

a:hover{
    background-size: 100%;
}

a[href^="http"]::before{
    content: "⮳";
    font-size: 150%;
}

body{
    --primary-contrast-color:rgb(176, 176, 176);
    --secondary-contrast-color:rgb(45, 45, 45);

    --secondary-color:white;
    --primary-color:rgb(206, 0, 0);
    --dark-secondary-color: black;

    --primary-background-color: white;
    --primary-font-color: black;

    --secondary-background-color: black;
    --secondary-font-color: rgb(176, 176, 176);

    background-color: var(--primary-background-color);
    color: var(--primary-font-color);

    --padding-intern: 1vw;
}

body.dark{
    --primary-contrast-color:rgb(176, 176, 176);
    --secondary-contrast-color:rgb(45, 45, 45);

    --secondary-color:white;
    --primary-color:rgb(206, 0, 0);
    --dark-secondary-color: white;

    --primary-background-color: black;
    --primary-font-color: white;

    --secondary-background-color: rgb(45, 45, 45);
    --secondary-font-color: rgb(176, 176, 176);
}

header{
    /*background-color: var(--secondary-color);*/
    color: var(--primary-color);
}

footer{
    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
    padding: 1%;
}

footer a:link, footer a:visited{
    color: var(--secondary-font-color);
}

footer a:hover, footer a:active{
    color: var(--secondary-color);
}

footer iframe{
    padding: 1%;
}

main{
    padding: var(--spacing);
}

main img{
    width: 100%;
    height: auto;
}

main section p{
    margin: 1vw;
    text-justify: auto;
    text-indent: 20px;
}

#responsive-layout > * {
    border: 0.18em solid var(--secondary-contrast-color);
}

#diverse > section{
    border: 0.18em solid var(--primary-contrast-color);
}


/*---LINK-TOP---*/
#link-top{
    position: fixed;
    bottom: 1%;
    left: 90%;
    font-size: 2.8em;
    border: 5px solid var(--secondary-contrast-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 300ms;
    box-shadow: 0 0 10px 10px var(--secondary-contrast-color);
    width: 80px;
    height: 80px;
    line-height: 50px;
}

#link-top:hover, #link-top:active{
    opacity: 1;
}

#link-top a:link, #link-top a:visited{
    color: var(--secondary-color);
}

#link-top a:hover, #link-top a:active{
    color: var(--primary-font-color);
}
/*---LINK-TOP---*/



/*---IFRAME---*/
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container a:link, .flex-container a:visited{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 30px 30px;
    margin-left: 10px;
}

.flex-container a:hover, .flex-container a:active{
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
}

.flex-iframe{
    order: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.flex-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 85%;
    padding: 5%;
    background-color: var(--primary-color);
}

.flex-links{
    order: 2;
    display: flex;
    flex-direction: row-reverse;
}
/*---IFRAME---*/



/*---TABEL---*/
#tabel {
    text-align: center;
    caption-side: top;
    width: 100%;
    height: 70%;
}

#tabel th, #tabel td, #tabel{
    border: 1px solid var(--dark-secondary-color);
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
}

#tabel th{
    height: 1vw;
    background-color: var(--secondary-contrast-color);
    color: var(--secondary-color);
}

#tabel tr:nth-child(even){
    background-color: var(--primary-contrast-color);
}

#tabel tr:nth-child(odd){
    background-color: var(--primary-background-color);
}

#tabel tr{
    transition: background-color 300ms, color 300ms;
}

#tabel tr:hover{
    background-color: var(--secondary-contrast-color);
    color: var(--secondary-color);
}

#tabel caption{
    padding: 20px;
    font-size: 1.5625em;
    font-weight: bold;
    font-family: 'Montserrat', serif;
}
/*---TABEL---*/



#despre-noi{
    grid-area: z-prezentare;
}

#s-tabel{
    grid-area: z-tabel;
}

#calendar{
    grid-area: z-calendar;
}

#anunt {
    grid-area: z-anunt;
}

#online{
    grid-area: z-online;
}

#statistici{
    grid-area: z-statistici;
}

#server{
    grid-area: z-server;
}

#diverse{
    grid-area:z-diverse;
}

#video-masina{
    display:block;
    width: 60%;
    margin: auto;
}

#video-masina::cue{
    color: white;
    font-size: 20px;
}


hr {
    color: transparent;
    height: 50px;
    box-shadow: 0 0 20px 20px var(--primary-contrast-color);
    background-color: var(--primary-contrast-color);
    /*background-image: repeating-radial-gradient(transparent, transparent, var(--light-gray) 80%, var(--light-gray) 100%);*/
    background-image: radial-gradient(white, white, transparent, transparent);

    background-size: 50px;
    opacity: 100;
}

hr::before {
    content: url("../../resurse/imagini/favpng_vector-car.png");
    margin-left: calc(50% - 81px);
}

#efect-css-duotone{
    position:relative;
    background-image:url("../../resurse/imagini/dashboard.jpg");
    background-size:cover;
    background-position: center;
    width:100%;
    height: 40vw;
    filter:brightness(200%) grayscale(0) ;
    transition:filter 2s linear;
}

#efect-css-duotone:after, #efect-css-duotone:before{
    content:" ";
    position:absolute;
    height:100%;
    width:0;
    top: 0;
    transition:all 1s linear;
}


#efect-css-duotone:after{
    background-color:rgb(255,0,0);
    mix-blend-mode:lighten;
    right: 0;
    opacity: 15%;
}

#efect-css-duotone:before{
    background-color:rgb(255,225,0);
    mix-blend-mode:darken;
    left:0;
    opacity: 40%;
}

#efect-css-duotone:hover:after, #efect-css-duotone:hover:before{
    width:100%;
}


/*#text-reflect {*/
/*    transform: rotate(-45deg);*/
/*}*/

#container {
    margin-left: 45%;
    margin-right: 45%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: color 300ms linear;
}

#text, #text-reflectat {
    margin: 3px;
}

#text {
    transform: rotate(-45deg);
}

#text-reflectat {
    transform: rotateY(180deg) rotate(-45deg);
}

#container:hover{
    color: var(--primary-color);
}