body{
    --spacing: 40px;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.2rem;
}

#tabel{
    display:block;
    overflow-x: auto;
    /*white-space: nowrap;*/
    height: 100%;
    width: 100%;
}

#responsive-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "z-prezentare z-prezentare"
    "z-online z-server"
    "z-statistici z-statistici"
    "z-calendar z-calendar"
    "z-tabel z-tabel"
    "z-anunt z-anunt"
    "z-diverse z-diverse";
}