body{
    --menu-height: 40px;
    --button-width: 100%;
}

#hamburger{
    display: block;
    margin: 0;
}

#hamburger i{
    color: var(--secondary-color);
    line-height: 100%;
    display: block;
    padding: 4px;
}

ul.nav-bar{
    display: block;
    transform-origin: left;
    transform: scale(0, 1);
    transition: all 500ms linear;
}

#ch-menu:checked + ul.nav-bar{
    display: block;
    transform: scale(1, 1);
}

