#watermark{
    display: none;
}

@page {
    size: A4 portrait;
    margin-bottom:2cm !important;
    margin-top:2cm !important;
    counter-increment: page;

}
@page:left{

    margin-left:2cm !important;
    margin-right:1cm !important;
    border-radius: 20cm !important;
}
@page:right{

    margin-right:2cm !important;
    margin-left:1cm !important;
}

@media print{
    a{
        text-decoration: none;
        color: inherit;
    }
    h1{
        margin-top: 50%;
        text-align: center;
    }

    #div-h1{
        width: 100% !important;
        margin-left: 1cm;
    }

    nav{
        page-break-after: always;
        display: block;
        position: relative;
        width: 100%;
        --button-width: 4cm;
    }

    ul.nav-bar li {
        overflow: visible;
    }

    #bannerPrint{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--primary-font-color);
        width:50%;
    }
    #bannerPrint::after{
        padding:6px;
        display: block;
        background: white;
        border:5px double black;
        border-radius: 10px;
        content:"Acesta este un proiect scolar";
    }

    #watermark{
        display: block;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        color: rgba(0, 0, 0, 0.4);
        width: 60%;
        height: 10%;
    }

    #watermark::after{
        color: rgba(0,0,0,0.3);
        padding:6px;
        display: block;
        background: white;
        border:2px solid black;
        border-radius: 10px;
        content:"Copyright Tanase Daniel";
    }

    #responsive-layout{
        display: block;
    }

    #responsive-layout section:nth-child(6){
        page-break-after: always;
    }

    #review, footer iframe, #link-top, figure, .carousel, #efect-css-duotone, hr, #video-si-reflexie, #banner, #form_inreg, #div-tema {
        display: none;
    }

    footer{
        page-break-before: always;
    }
}

