<footer>
    <i class="fa-solid fa-arrow-up fa-bounce"></i>
    <a href="#">Mergi sus</a><br>
    <i class="fa-solid fa-phone fa-shake"></i>
    <a href="tel:+40712312312">Sună</a><br>
    <i class="fa-solid fa-envelope"></i>
    <a href="mailto:contact@auctionrider.com">Trimite-ne un mail</a><br>
    <a href="https://wa.link/c1rqrm" target="_blank">Contactează-ne pe WhatsApp</a><br>
    <address>Adresa:<a href="https://goo.gl/maps/nUQHY4U8mU484gJXA" target="_blank">Strada Academiei 14</a></address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8842997291954!2d26.09546682695311!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1677685760171!5m2!1sro!2sro"
            width="50%" height="300px"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
    <small>Copyright &copy;
        <time datetime="2023-03-02">2 martie 2023</time>
    </small>
    <%- locals.optiuniMeniu%> <%- locals.optiuniMeniu[0].unnest%>
</footer>