<form id="form_inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data" >
    <p>
        <label>
            Username: <input class="form-control" type="text" name="username" id="inp-username" value="user<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9#_./]+">
        </label>
    </p>
    <p>
        <label>
            Nume: <input class="form-control" type="text" name="nume" id="inp-nume"  value="Popescu" required pattern="[A-Za-z0-9-\s]+">
        </label>
    </p>
    <p>
        <label>
            Prenume: <input class="form-control" type="text" name="prenume" id="inp-prenume" value="Andrei" required pattern="[A-Za-z0-9-\s]+">
        </label>
    </p>
    <p>
        <label>
            Parola: <input class="form-control" id="parl" type="password" required  name="parola" value="">
        </label>
    </p>
    <p id="p-reintrod">
        <label >
            Reintroduceti parola: <input class="form-control" id="rparl" required type="password" name="rparola" value="">
        </label>
    </p>
    <p>
        <label>
            Email: <input type="email" class="form-control" name="email" id="inp-email" required placeholder="email@gmail.com"  size="50">
        </label>
    </p>
    <p>
        <label>
            Culoare text chat: <select class="form-select" name="culoare_chat" id="sel-culoare"><option value="black" selected>negru</option><option value="green">verde</option><option value="blue">albastru</option><option value="red">rosu</option></select>
        </label>
    </p>
    <p>
        <label>
            Data Nasterii: <input class="form-control" type="date" name="data_nasterii" id="inp-data-nasterii" value="2000-01-01">
        </label>
    </p>
    <p>
        <label>
            Ocupatie: <select class="form-select" name="ocupatie" id="sel-ocupatie"><option value="Nu doresc sa spun" selected>Nu doresc sa spun</option><option value="Dealer auto">Dealer auto</option><option value="Instructor auto">Instructor auto</option><option value="Firma de transport">Firma de transport</option></select>
        </label>
    </p>
    <p>
        <label>
            Poza: <input class="form-control" type="file" name="poza">
        </label>			
    </p>
    <p>		
        <input class="btn btn-outline-primary" type="submit" value="Trimite">
        <input class="btn btn-outline-primary" type="reset" value="Reseteaza">
    </p>
</form>