<header>
    <p id="banner"></p>
    <h1>AuctionRider</h1>
</header>

<p id="watermark"></p>

<nav>
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars fa-2xl"></i>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="nav-bar">
        <li>
            <div id="home"><a class="nav-bar-link" href="/home">Home</a></div><div id="home-medium"><a href="#"><i class="fa-solid fa-house"></i></a></div>
            <ul class="sub-nav-bar">
                <li><a class="nav-bar-link" href="/home#despre-noi">Despre noi</a></li>
                <li><a class="nav-bar-link" href="/home#motive">De ce noi?</a></li>
                <li><a class="nav-bar-link" href="/home#popular">Anunțuri populare</a></li>
                <li><a class="nav-bar-link" href="/home#noutati">Noutăți</a></li>
                <li><a class="nav-bar-link" href="/home#faq">Întrebări frecvente</a></li>
            </ul>
        </li>
        <li><a class="nav-bar-link" href="/produse">Cauta autoturisme</a>
            <ul class="sub-nav-bar">
                <li><a class="nav-bar-link" href="/produse?tip=gelaterie">Gelaterie</a></li>
                <li><a class="nav-bar-link" href="/produse?tip=cofetarie">Prajituri</a></li>
                <li><a class="nav-bar-link" href="/produse?tip=patiserie">Patiserie</a></li>
            </ul>
        </li>

        <li><a class="nav-bar-link" href="">Vinde</a></li>
        <li><a class="nav-bar-link" href="">Contact</a></li>
    </ul>
</nav>