<header>
    <p id="banner"></p>
    <h1>AuctionRider</h1>
</header>

<p id="watermark"></p>

<nav>
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars fa-2xl"></i>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="nav-bar">
        <li>
            <div id="home"><a href="#">Home</a></div><div id="home-medium"><a href="#"><i class="fa-solid fa-house"></i></a></div>
            <ul class="sub-nav-bar">
                <li><a href="#despre-noi">Despre noi</a></li>
                <li><a href="#motive">De ce noi?</a></li>
                <li><a href="#popular">Anunțuri populare</a></li>
                <li><a href="#noutati">Noutăți</a></li>
                <li><a href="#faq">Întrebări frecvente</a></li>
            </ul>
        </li>
        <li><a href="">Cauta autoturisme</a></li>
        <li><a href="">Vinde</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>