<script src="/resurse/js/tema.js"></script>
<header>
    <p id="bannerPrint"></p>
    <div>
        <span class="form-check form-switch position-static mx-lg-5 mt-4 d-inline-block">
            <input class="form-check-input" type="checkbox" role="switch" id="tema">
            <label class="form-check-label" for="tema">Tema</label>
        </span>
        <h1>AuctionRider</h1>
    </div>
</header>

<p id="watermark"></p>

<nav>
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars fa-2xl"></i>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="nav-bar">
        <li>
            <div id="home"><a class="nav-bar-link" href="/home">Home</a></div><div id="home-medium"><a class="nav-bar-link" href="#"><i class="fa-solid fa-house"></i></a></div>
            <ul class="sub-nav-bar">
                <li><a class="nav-bar-link" href="/home#despre-noi">Despre noi</a></li>
                <li><a class="nav-bar-link" href="/home#motive">De ce noi?</a></li>
                <li><a class="nav-bar-link" href="/home#popular">Anunțuri populare</a></li>
                <li><a class="nav-bar-link" href="/home#noutati">Noutăți</a></li>
                <li><a class="nav-bar-link" href="/home#faq">Întrebări frecvente</a></li>
            </ul>
        </li>
        <li><a class="nav-bar-link" href="/produse">Cauta</a>
            <ul class="sub-nav-bar">
            <%for (let opt of locals.optiuniMeniu) {%>
                <li><a class="nav-bar-link" href="/produse?tip=<%-opt%>"><%-opt%></a></li>
            <%}%>
            </ul>
        </li>
        <li><a class="nav-bar-link" href="/inregistrare">Inregistrare</a></li>
        <li><a class="nav-bar-link" href="/cos-virtual">Cos virtual</a></li>
        <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
            <li><div>Administrare</div>
                <ul>
                    <li><a class="nav-bar-link" href="/useri">Useri</a></li>
                    <li><a class="nav-bar-link" href="/grafice">Grafice</a></li>
                    <li><a class="nav-bar-link" href="/comenzi">Comenzi</a></li>
                </ul>
            </li>
        <% } %>
        <% if(locals.utilizator) { %>
            <li><div><%- locals.utilizator.username %></div>
                <ul>
                    <li><a class="nav-bar-link" href="/profil">Profil</a></li>
                    <li><a class="nav-bar-link" href="/logout">Logout</a></li>
                </ul>
            </li>
        <% } %>
        <li><a class="nav-bar-link" href="">Vinde</a></li>
        <li><a class="nav-bar-link" href="">Contact</a></li>
    </ul>
</nav>